/* Header component */
.header {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}
.header .title {
  text-decoration: none;
  color: var(--dark-color);
}
.header-logged-in {
  position: relative;
}
.header-logged-in p {
  text-decoration: underline;
  cursor: pointer;
}
.header-logged-in .header-modal {
  display: none;
  position: absolute;
  right: 0px;
  z-index: 9999;
  box-shadow: 1px 1px 1px black;
}
.header-logged-in:hover .header-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 125px;
  background: var(--primary-color-light);
  color: white;
  border-radius: 6px;
}
.header-modal a {
  padding: 0.25em 1em;
  flex-grow: 1;
  text-align: center;
}
.header-modal a:first-child {
  border-radius: 6px 6px 0 0;
}
.header-modal button {
  margin: 0.5em 0.5em;
  flex-grow: 1;
}
.header-modal a:hover {
  background: var(--dark-color);
  color: white;
}
