/* Header component */
.header {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
}
.header .title {
  text-decoration: none;
  color: var(--dark-color);
}
