.loader,
.loader-transition {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: absolute;
  background: #fff;
  box-shadow:
    -24px 0 #fff,
    24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}
.loader-transition {
  position: relative;
}
@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow:
      -24px 0 #000,
      24px 0 #fff;
  }
  66% {
    background: #000;
    box-shadow:
      -24px 0 #fff,
      24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow:
      -24px 0 #fff,
      24px 0 #000;
  }
}
