.loader,
.loader-transition {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: absolute;
  background: #84b8eb;
  box-shadow:
    -24px 0 #84b8eb,
    24px 0 #84b8eb;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}
.loader-transition {
  position: relative;
}
@keyframes shadowPulse {
  33% {
    background: #84b8eb;
    box-shadow:
      -24px 0 #13232d,
      24px 0 #84b8eb;
  }
  66% {
    background: #13232d;
    box-shadow:
      -24px 0 #84b8eb,
      24px 0 #84b8eb;
  }
  100% {
    background: #84b8eb;
    box-shadow:
      -24px 0 #84b8eb,
      24px 0 #13232d;
  }
}
