.toggle-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--dark-color);
  padding-bottom: 1rem;
  gap: 1rem;
}

.toggle-wrapper span {
  max-width: 235px;
}

.toggle-container {
  position: relative;
  width: 50px;
  height: 24px;
}

.toggle-input {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  cursor: pointer;
  margin: 0;
}

.toggle-slider {
  position: absolute;
  background-color: #ccc;
  border-radius: 24px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.2s;
  z-index: 1;
}

.toggle-slider::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: 0.2s;
}

.toggle-input:checked + .toggle-slider {
  background-color: var(--medium-color);
}

.toggle-input:checked + .toggle-slider::before {
  transform: translateX(26px);
}

@media screen and (min-width: 500px) {
  .toggle-wrapper span {
    max-width: none;
  }
}
