/* Blog */
.blog {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0.5rem;
}
.blog .blog-section {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.blog-section h3,
.blog-section p {
  margin-bottom: 0.5rem;
}
.blog-section ul {
  padding-left: 1rem;
}
.blog-section li {
  padding-bottom: 0.5rem;
}
