/* General css styles like buttons, links, etc */
:root {
  --primary-color: #5fa3e5;
  --primary-color-light: #84b8eb;
  --medium-color: #045474;
  --dark-color: #13232d;
  /* Colors are TBD */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  color: var(--dark-color);
}
html {
  /* on windows firefox this makes it so the entire page doesnt shift slight if theres a scrollbar */
  overflow-y: scroll;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--primary-color);
}
.spacer {
  flex-grow: 1;
}
button {
  padding: 0.5em 1em;
  cursor: pointer;
  border-style: none;
  border: 1px solid var(--dark-color);
  border-radius: 6px;
  background: transparent;
}
button:hover {
  background: var(--dark-color);
  color: white;
}
a {
  color: black;
}
