/* Home page */
.home {
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}
.home button {
  width: calc(100% - 1em);
  max-width: 350px;
  padding: 1em 2em;
  font-size: 18px;
}
.home .all-posts {
  margin-top: 1em;
  text-align: left;
}
.all-posts h3 {
  padding-left: 0.5em;
  margin-top: 1.5em;
  text-transform: uppercase;
}
.all-posts .loader {
  position: relative;
  margin-top: 2em;
}
.all-posts .post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em;
  border-bottom: 1px solid var(--medium-color);
  gap: 0.5em;
  cursor: pointer;
  text-decoration: none;
}
.all-posts .post:hover {
  background: var(--primary-color-light);
}
.all-posts .post:last-child {
  border: none;
}
.post p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}
.post span {
  font-size: 11px;
  color: var(--medium-color);
}
span svg path {
  fill: var(--medium-color);
}
@media screen and (min-width: 810px) {
  .all-posts .post:nth-child(2) {
    border-radius: 6px 6px 0 0;
  }
  .all-posts .post:last-child {
    border-radius: 0 0 6px 6px;
  }
}
