/* Login/Signup page -- also contains some post/edit page bits */
.login-page,
.signup-page,
.post-page,
.edit-page {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}
.login-page h1,
.signup-page h1,
.post-page h1,
.edit-page h1,
.edit-page h2 {
  margin-bottom: 0.5rem;
}
.edit-page h2 {
  font-size: 20px;
}
.login-page form,
.signup-page form,
.post-page form,
.edit-page form {
  width: 100%;
  margin-bottom: 0.5rem;
}
.login-page form label,
.signup-page form label,
.post-page form label,
.edit-page form label {
  width: 100%;
  display: inline-block;
}
.login-page form input,
.signup-page form input,
.post-page form input,
.edit-page form input,
.post-page form textarea,
.edit-page form textarea {
  width: 300px;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  font-size: 16px;
  border-style: none;
  border: 1px solid var(--dark-color);
  border-radius: 6px;
}
.post-page form .rating,
.edit-page form .rating {
  margin-bottom: 0.5rem;
  width: 50px;
}

@media screen and (min-width: 550px) {
  .toast {
    max-width: 300px;
  }
}
