/* Create/edit post css - that page uses the same as login/signup */
/* besides this */
.post-page form textarea,
.edit-page form textarea {
  height: 100px;
  font-family:
    Nunito Sans,
    'Nunito Sans',
    sans-serif;
}
.post-page form select,
.edit-page form select {
  width: 100%;
  padding: 0.5rem 0;
  padding-left: 0.5rem;
  border: 1px solid var(--dark-color);
  background: white;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}
.edit-page .delete-post {
  margin-left: 0.5rem;
}
