.settings {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 0.5em;
}
.settings h2,
.settings p {
  margin-bottom: 0.5em;
}
.settings form {
  margin-top: 1em;
}

form .settings-input {
  display: flex;
  flex-wrap: wrap;
}
.settings-input label {
  width: 100%;
}
.settings-input input {
  max-width: 300px;
  padding: 0.5em;
  padding-right: 0;
  border-radius: 6px;
  margin-bottom: 0.5em;
  border: none;
  border: 1px solid var(--dark-color);
}
